.hidden {
  opacity: 0;
  filter: fade(0%);
  transform: translateY(100px);
  transition: opacity 0.5s, filter 0.5s, transform 0.5s;
}

.show {
  opacity: 1;
  filter: fade(100%);
  transform: translateY(0);
  transition: opacity 0.5s, filter 0.5s, transform 0.5s;
}
