html,
body {
  padding: 0;
  margin: 0;
}

#svg_3 {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

::selection {
  background: #b1b2ff;
  color: #000;
}
