.text-gradient {
  position: relative;
  --bg-size: 400%;
}

.text-gradient::before {
  content: '';
  position: absolute;
  top: 110%;
  width: 120%;
  left: -10%;
  height: 3px;
  border-radius: 2px;
  /* 90deg, rgba(255,99,195,1) 0%, rgba(61,122,237,1) 50%, rgba(255,99,195,1) 100% */
  background: linear-gradient(
      90deg,
      rgba(255, 99, 195, 1) 0%,
      rgba(61, 122, 237, 1) 50%,
      rgba(255, 99, 195, 1) 100%
    )
    0 0 / var(--bg-size) 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .text-gradient::before,
  .text-gradient {
    animation: gradient 8s linear infinite;
  }
  @keyframes gradient {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
